################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinShark/config/applicationhost.config
/.vs/FinShark/DesignTimeBuild/.dtbcache.v2
/.vs/FinShark/FileContentIndex/09612a03-f559-4f34-8a03-12bc4063ca23.vsidx
/.vs/FinShark/v17/.suo
/.vs/FinShark/v17/DocumentLayout.json
/api/bin/Debug/net8.0/api.dll
/api/bin/Debug/net8.0/api.exe
/api/bin/Debug/net8.0/api.pdb
/api/obj/Debug/net8.0/refint/api.dll
/api/obj/Debug/net8.0/api.AssemblyInfo.cs
/api/obj/Debug/net8.0/ref/api.dll
/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
/api/obj/Debug/net8.0/api.assets.cache
/api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
/api/obj/Debug/net8.0/api.csproj.BuildWithSkipAnalyzers
/api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
/api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
/api/obj/Debug/net8.0/api.dll
/api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
/api/obj/Debug/net8.0/api.genruntimeconfig.cache
/api/obj/Debug/net8.0/api.MvcApplicationPartsAssemblyInfo.cs
/api/obj/Debug/net8.0/api.pdb
/api/obj/Debug/net8.0/api.sourcelink.json
*.json
/api/obj/api.csproj.nuget.dgspec.json
/api/obj/Debug/net8.0/apphost.exe
/api/obj/api.csproj.nuget.g.props
/api/obj/project.assets.json
/api/obj/project.nuget.cache
/api/api.csproj.user
/.vs/ProjectEvaluation/finshark.metadata.v7.bin
/.vs/FinShark/v17/.futdcache.v2
/.vs/ProjectEvaluation/finshark.projects.v7.bin
/.vs/FinShark/FileContentIndex/c4dee097-7033-442c-86a2-9579acb1341b.vsidx
/.vs/FinShark/FileContentIndex/3374805e-68be-4c90-87e8-fceea7fc10d1.vsidx
/.vs/FinShark/FileContentIndex/8147c0d8-7675-4f1d-90a2-3fc82b3c2eea.vsidx
